[mysql]
HOST = YOUR_DB_HOST
DB_NAME = YOUR_DB_NAME
USER = YOUR_DB_USER
PW = YOUR_DB_PASS
DRIVE_TABLE = YOUR_DRIVE_TABLE_NAME
LOGS_TABLE = YOUR_PUBLIC_LOGS_TABLE_NAME

[google]
USER = YOUR_GOOGLE_MAIL
